html, input
{
	font-family: sans-serif;
	font-size: 9pt;
}

#outerBox
{
	position: fixed;
	
	z-index: 6;
	
	left: 40px;
	top: 40px;
	
	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: start;
		-webkit-box-align: start;
	
	padding: 10px;
	
	border: 1px solid #666666;
	border-radius: 6px 6px 0px 0px / 3px 3px 0px 0px;
	
	background: rgb(176,212,227); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(176,212,227,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,212,227,1)), color-stop(100%,rgba(136,186,207,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
	
	text-shadow: 1px 1px 3px #999999;
	filter: dropshadow(color=#999999, offx=1, offy=1);
}

#timeSelectionBox, #timeInstanceBox
{
	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: start;
		-webkit-box-align: stretch;
	
	padding: 6px;
	
	border: 1px solid #666666;
	border-radius: 6px 6px 6px 6px / 3px 3px 3px 3px;
	
	-webkit-box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
	
	text-align: center;
}

#dataInformationBox
{
	padding: 10px;
	
	line-height: 2.0;
}

#canvasBox
{
	position: absolute;
	
	left: 325px;
}

.canvasDiv
{
	position: inherit;
	
	margin-top: 20px;
	
	width: 660px;
	height: 380px;
	
	border: 1px solid #666666;
	border-radius: 6px 6px 6px 6px / 3px 3px 3px 3px;
	
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,0.72) 47%, rgba(237,237,237,0.4) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,0.72)), color-stop(100%,rgba(237,237,237,0.4)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.72) 47%,rgba(237,237,237,0.4) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.72) 47%,rgba(237,237,237,0.4) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.72) 47%,rgba(237,237,237,0.4) 100%);
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,0.72) 47%,rgba(237,237,237,0.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ededed',GradientType=0 );

}

.graph
{
	position: absolute;
	
	z-index: 1;
	
	left: 15px;
}

.dataPoints
{
	position: absolute;
	
	z-index: 2;
	
	left: 15px;
}

.timeLine
{
	position: absolute;
	
	z-index: 3;
	
	left: 15px;
}

.legend
{
	position: absolute;
	
	z-index: 4;
	
	top: 60px;
	left: 440px;
	
	border: 1px solid #888888;
}

.canvasTitle
{
	position: absolute;
	
	z-index: 5;
	
	top: 15px;
	
	width: 100%;
	
	font-size: 12pt;
	font-weight: bold;
	
	text-align: center;
	
	text-shadow: 1px 1px 3px #999999;
	filter: dropshadow(color=#999999, offx=1, offy=1);
}

.xAxisTitle
{
	position: absolute;
	z-index: 5;
	
	top: 345px;
	
	width: 100%;
	
	font-style: italic;
	
	text-align: center;
	
	text-shadow: 1px 1px 3px #999999;
	filter: dropshadow(color=#999999, offx=1, offy=1);
}

.yAxisTitle
{
	position: absolute;
	
	z-index: 5;
	
	left: -125px;
	
	width: 100%;
	height: 100%;
	
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	
	font-style: italic;
	
	text-align: center;
	
	text-shadow: 1px 1px 3px #999999;
	filter: dropshadow(color=#999999, offx=1, offy=1);
}

/***
 * Specific graph styles.
***/
#p11SmallCanvasDiv
{
	position: inherit;
	
	top: 400px;
}

#scatCanvasDiv
{
	top: 800px;
}

#presCanvasDiv
{
	top: 1200px;
}

#tempCanvasDiv
{
	top: 1600px;
}

#rhCanvasDiv
{
	top: 2000px;
}
